@media print {
    .pagebreak {
        page-break-after: always;
    }
}

table {
    display: table !important;
    text-align: left !important;
}

h1,
h2 {
    text-align: center;
}

img {
    height: 400px;
}
